Cpp/build/
Cpp/src/loadMacros_cpp_ACLiC_dict_rdict.pcm
Cpp/src/loadMacros_cpp.d
Cpp/src/loadMacros_cpp.so

data/input/thursday
data/processed/*

data/input/measures
data/input/measurestrees
data/input/overnight
data/input/pedestals_files
data/input/pedestals_trees
data/thursday

settings.json
__pycache__

20230512_194044.*